.heading {
    display: flex;
    padding: 1rem 0 1rem 300px;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

.innholdsWrapper {
    display: flex;
}

.sideMeny {
    flex: 0 0 300px;
}

.innhold {
    flex: 1 0 auto;
}
