name: 'Deploy topic'
on:
  push:
    paths:
      - nais/topics/**
      - .github/workflows/topic.yml
jobs:
  deploy-topic-til-dev:
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'dev-')
    name: Deploy topic to dev-gcp
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Deploy testdata-reset topic til dev-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/topics/flex-testdata-reset-topic.yaml
          VARS: nais/topics/dev.json
      - name: Deploy test-sykmelding topic til dev-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/topics/flex-test-sykmelding-topic.yaml
          VARS: nais/topics/dev.json
      - name: Deploy test-isfrisktilarbeid-vedtak-status topic til dev-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/topics/flex-test-isfrisktilarbeid-vedtak-status-topic.yaml
          VARS: nais/topics/dev.json
      - name: Deploy test-command topic til dev-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/topics/flex-test-command-topic.yaml
          VARS: nais/topics/dev.json
